<div class="navbar-wrapper">
    <div class="navbar">
        <ul class="navbar-list">
            <li>
                <a href="/profile">
                    <i class="fa-solid fa-user"></i>
                    <div class="navbar-name">Profile</div>
                </a>
            </li>
            <li>
                <a href="/dashboard">
                    <i class="fa-solid fa-gauge"></i>
                    <div class="navbar-name">Dashboard</div>
                </a>
            </li>
            <li>
                <a href="/calendar">
                    <i class="fa-solid fa-calendar"></i>
                    <div class="navbar-name">Calendar</div>
                </a>
            </li>
            <li>
                <a href="/tasks">
                    <i class="fa-solid fa-clipboard"></i>
                    <div class="navbar-name">Tasks</div>
                </a>
            </li>
            <li>
                <a href="/gantt">
                    <i class="fa-solid fa-chart-gantt"></i>
                    <div class="navbar-name">Gantt</div>
                </a>
            </li>
            <li>
                <a href="#" onclick="logout()" id="sign-out">
                    <i class="fa-solid fa-sign-out"></i>
                    <div class="navbar-name">Logout</div>
                </a>
            </li>
        </ul>
    </div>
</div>
