<div class="profile-wrapper">
    <div class="profile-info">
        <img id="profile-img" src="/images/user.png" alt="User Profile Image" />
        <div class="details">
            <div class="display-wrapper">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <span id="email-span">johndoe@gmail.com</span>
            </div>
            <div class="display-wrapper" id="edit-name-wrapper">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-person"></i>
                </div>
                <span id="name-span">John</span>
            </div>
        </div>
        <div class="profile-actions">
            <button id="edit-name" class="pulse edit-profile">Edit Name</button>
            <button id="change-password" class="pulse edit-profile">Change Password</button>
            <button id="delete-account" class="pulse edit-profile">Delete Account</button>
            <button id="select-semester" class="pulse">Select Semester</button>
        </div>
    </div>
</div>
