<div class="profile-edit-wrapper">
    <div class="form-container">
        <!-- Edit Name Form -->
        <div id="edit-name-form" class="">
            <h2 class="form-title">Edit Name</h2>
            <form>
                <input type="text" id="name-edit" placeholder="Enter name" required />
                <input type="text" id="surname-edit" placeholder="Enter surname" required />
                <input type="password" id="name-password" placeholder="Enter password" required />
                <button type="button" id="submit-name-edit">Save</button>
            </form>
        </div>

        <!-- Change Password Form -->
        <div id="change-password-form" class="hidden">
            <h2 class="form-title">Change Password</h2>
            <form>
                <input type="password" id="old-password" placeholder="Enter old password" required />
                <input type="password" id="new-password" placeholder="Enter new password" required />
                <input type="password" id="confirm-password" placeholder="Confirm new password" required />
                <button type="button" id="submit-password-edit">Save</button>
            </form>
        </div>

        <!-- Delete Account Form -->
        <div id="delete-account-form" class="hidden">
            <h2 class="form-title">Delete Account</h2>
            <form>
                <input type="password" id="delete-password" placeholder="Enter password" required />
                <button type="button" id="submit-delete-account">Delete</button>
            </form>
        </div>

        <!-- Semester Form -->
        <div id="select-semester-form" class="hidden">
            <h2 class="form-title">Select a Semester</h2>
            <form id="semesterForm">
                <select name="semester" id="seasonForm">
                    <option value="Select Semester">Select Semester</option>
                </select>

                <div id="fileForm">
                    <input id="fileInputForm" class="hidden" type="file" id="myFile" name="filename" accept=".json" />
                </div>
            </form>
        </div>
    </div>
</div>
