<div class="sidebar">
    <ul class="sidebar-list">
        <li>
            <a href="/profile"><i class="fa-solid fa-user"></i>
                <div class="sidebar-name">Profile</div>
            </a>
        </li>
        <li>
            <a href="/dashboard"><i class="fa-solid fa-gauge"></i>
                <div class="sidebar-name">Dashboard</div>
            </a>
        </li>
        <li>
            <a href="/calendar"><i class="fa-solid fa-calendar"></i>
                <div class="sidebar-name">Calendar</div>
            </a>
        </li>
        <li>
            <a href="/tasks"><i class="fa-solid fa-clipboard"></i>
                <div class="sidebar-name">Tasks</div>
            </a>
        </li>
    </ul>
</div>