<div class="top-bar">
    <div class="left-content">
        <label class="font-label"><i class="fa-solid fa-book"></i></label>
        <a href="/profile" class="home-button">Study Planner</a>
    </div>
    <div class="right-content">
        <a href="/login" class="right-button">Login</a>
        <a href="/team" class="right-button">Team</a>
    </div>
</div>