<div class="top-bar">
    <div class="left-content">
        <label class="font-label"><i class="fa-solid fa-book"></i></label>
        <a href="/dashboard" class="home-button">Study Planner</a>
    </div>
</div>