<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/styles/side-bar.css">
    <title>Study Planner - Profile</title>
</head>
<body>
    <header>
        <%- include('partials/side-bar') %>
    </header>   

</body>
</html>
