<!DOCTYPE html>
<html>
<head>
    <%- include('partials/global-head') %>
    <%- include('partials/main-page-head') %>
    <link rel="stylesheet" href="/styles/side-bar.css">
    <link rel="stylesheet" href="/styles/calendar.css">
    <title>Study Planner - Gantt</title>
</head>
<body>
    <div class="wrapper">
        <%- include('partials/nav-bar') %>
        <div class="container">
            <div class="content">
            </div>
        </div>
    </div>
    <%- include('partials/error-box') %>
    <script src="/js/gantt.js"></script>
</body>
</html>

