<!DOCTYPE html>
<html>
<head>
    <%- include('partials/global-head') %>
    <%- include('partials/main-page-head') %>
    <link rel="stylesheet" href="/styles/side-bar.css">
    <link rel="stylesheet" href="/styles/profile.css">
    <link rel="stylesheet" href="/styles/profile-actions.css">
    <link rel="stylesheet" href="/styles/edit-profile.css">
    <script src="/scripts/profile.js" defer></script>
    <title>Study Planner - Profile</title>
</head>
<body>
    <div class="wrapper">
        <%- include('partials/side-bar') %>
        <div class="container">
            <div class="content">
                <div class="profile-wrapper">
                    <div class="profile-info">
                        <img id="profile-img" src="/images/user.png" alt="User Profile Image">
                        <div class="details">
                            <div class="display-wrapper">
                                <strong>Email:</strong>
                                <span>johndoe@gmail.com</span>
                            </div>
                            <div class="display-wrapper" id="edit-name-wrapper">
                                <strong>Name:</strong>
                                <span>John</span>
                            </div>
                            <div class="display-wrapper">
                                <strong>Surname:</strong>
                                <span>Doe</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="middle-wrapper">
                    <div class="profile-actions">
                        <button id="edit-name">Edit Name</button>
                        <button id="change-password">Change Password</button>
                        <button id="delete-account">Delete Account</button>
                    </div>  
                </div>
                <div class="end-wrapper">
                    <div class="form-container">
                        <div id="edit-name-form" class="">
                            <h2 class="form-title">Edit Name</h2>
                            <form>
                                <input type="text" id="name" placeholder="Enter name">
                                <input type="text" id="surname" placeholder="Enter surname">
                                <button type="button" id="submit-name-edit">Save</button>
                                <button type="button" id="cancel-name-edit">Cancel</button>
                            </form>
                        </div>
                        <div id="change-password-form" class="hidden">
                            <h2 class="form-title">Change Password</h2>
                            <form>
                                <input type="password" id="old-password" placeholder="Enter old password">
                                <input type="password" id="new-password" placeholder="Enter new password">
                                <input type="password" id="confirm-password" placeholder="Confirm new password">
                                <button type="button" id="submit-password-edit">Save</button>
                                <button type="button" id="cancel-password-edit">Cancel</button>
                            </form>
                        </div>
                        <div id="delete-account-form" class="hidden">
                            <h2 class="form-title">Delete Account</h2>
                            <form>
                                <input type="password" id="password" placeholder="Enter password">
                                <button type="button" id="submit-delete-account">Delete</button>
                                <button type="button" id="cancel-delete-account">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/error-box') %>
</body>
</html>
