<!DOCTYPE html>
<html>
<head>
    <%- include('partials/global-head') %>
    <%- include('partials/main-page-head') %>
    <link rel="stylesheet" href="/styles/side-bar.css">
    <title>Study Planner - Profile</title>
</head>
<body>
    <div class="wrapper">
        <%- include('partials/side-bar') %>
        
        <div class="container">
            <div class="content">

            </div>
        </div>
    </div>
    <%- include('partials/error-box') %>
</body>
</html>
