<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/global-head') %>
    <title>Study Planner - Register</title>
    <link rel="stylesheet" href="/styles/top-bar.css" />
    <link rel="stylesheet" href="/styles/account-form.css" />
</head>
<body>
    <%- include('partials/top-bar') %>

    <%- include('partials/account-form', { 
        title: 'Register New Account', 
        action: '/register', 
        buttonText: 'Register Account', 
        link: { href: '/', text: 'Existing User?' }, 
        fields: [
            { type: 'email', placeholder: 'Email', name: 'email', autocomplete: 'email' }, 
            { type: 'text', placeholder: 'Forename', name: 'forename', autocomplete: 'given-name' }, 
            { type: 'text', placeholder: 'Surname', name: 'surname', autocomplete: 'family-name' }, 
            { type: 'password', placeholder: 'Password', name: 'password', autocomplete: 'new-password' }, 
            { type: 'password', placeholder: 'Confirm Password', name: 'confirm', autocomplete: 'new-password' }
        ] 
    }) %>

    <%- include('partials/error-box') %>
</body>
</html>
