<!DOCTYPE html>
<html>
<head>
    <%- include('partials/global-head') %>
    <%- include('partials/main-page-head') %>
    <link rel="stylesheet" href="/styles/side-bar.css">
    <title>Study Planner - Tasks</title>
</head>
<body>
    <header>
        <%- include('partials/side-bar') %>
    </header>   
    <main>
        <div class="container">
        </div>
    </main>
</body>
</html>
