<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <title>Study Planner - Team</title>
        <link rel="stylesheet" href="/styles/index.css">
    </head>
    <body>
        <%- include('partials/top-bar') %>
    </body>
</html>
