<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/global-head') %>
        <title>Study Planner - Team</title>
        <link rel="stylesheet" href="/styles/top-bar.css" />
        <link rel="stylesheet" href="/styles/team.css" />
    </head>
    <body>
        <%- include('partials/top-bar') %>
        <div class="container">
            <div class="team-members">
                <div class="team-member">
                    <img src="/images/user.png" alt="Team Member 1" />
                    <div class="team-member-info">William</div>
                </div>
                <div class="team-member">
                    <img src="/images/user.png" alt="Team Member 1" />
                    <div class="team-member-info">Ace</div>
                </div>
                <div class="team-member">
                    <img src="/images/user.png" alt="Team Member 1" />
                    <div class="team-member-info">Ed</div>
                </div>
                <div class="team-member">
                    <img src="/images/user.png" alt="Team Member 1" />
                    <div class="team-member-info">Taylor</div>
                </div>
                <div class="team-member">
                    <img src="/images/user.png" alt="Team Member 1" />
                    <div class="team-member-info">San</div>
                </div>
            </div>
        </div>
        <%- include('partials/error-box') %>
    </body>
</html>
