.form-page {
    box-sizing: border-box; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0 auto;
    margin-top: 64px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    min-height: calc(100vh - 192px);
    width: 60%;
}

.form-title {
    padding-bottom: 16px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.form-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 8px;
}

/* Input */
.input-group {
    margin-bottom: 16px;
    border-radius: 16px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="email"]:hover,
input[type="password"]:hover,
input[type="text"]:hover,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus  {
    border-color: #999;
    outline: none;
    
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder {
    color: #999;
}

/* Button */
.input-button {
    background-color: #4CAF50;
    color: white;
    margin-top: 32px;
    padding: 16px 20px;
    border: none;
    cursor: pointer; 
    border-radius: 16px; 
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.input-button:hover {
    background-color: #45a049;
}

.form-button {
    text-align: center;
    width: 100%;
}

.form-link {
    text-align: center;
    margin-top: 16px;
}