/* Font Import */
@font-face { 
    font-family: Concert; src: url('../fonts/Concert.ttf'); 
    font-family: Roboto-Medium; src: url('../fonts/Roboto-Medium.ttf'); 
}

/* Global Styles */
html {
    font-size: 16px;
    font-family: 'Roboto-Medium', sans-serif;
    background: hsla(216, 52%, 87%, 1);
}
