.wrapper {
    display: flex;
    flex-direction: column;
    max-width: calc(100vw - 16px);
    height: calc(100vh - 16px);
}

.container {
    display: flex;
    flex: 1;
    padding: 8px;
    background-color: rgb(223, 238, 246);
    border-radius: 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: padding 0.5s ease-in;
}

.content {
    display: flex;
    flex: 1;
    background-color: #f0f7fc;
    border-radius: 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 16px;
}
