.wrapper {
    display: flex;
    max-width: calc(100vw - 16px);
    height: calc(100vh - 56px);
}

.content {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}