.profile-wrapper {
    margin-left: 16px;
    display: flex;
    background-color: cce6ff;
    border-radius: 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 16px;
    justify-content: center;
    align-items: center;
}
.details {
    font-size: 18px;
}

.display-wrapper {
    margin-top: 20px;
    padding: 16px;
    border-radius: 16px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.01);
}

.display-wrapper strong {
    font-weight: bold;
    margin-right: 10px;
}

#profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: floralwhite;
}

span {
    min-width: 128px;
}