.middle-wrapper {
    margin-left: 16px;
    display: flex;
    background-color: aliceblue;
    border-radius: 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 16px;
    justify-content: center;
    align-items: center;
}

.profile-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-actions button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-actions button:hover {
    background-color: #0056b3;
}

.profile-actions button:focus {
    outline: none;
}
