.container {
    width: 100%;
    height: calc(100vh - 76px);
    margin-top: 8px;

    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.team-member {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.team-member img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.team-member:hover {
    transform: scale(1.1);
}
.team-member:hover img {
    transform: scale(1.2);
}
.team-member-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}
.team-member:hover .team-member-info {
    transform: translateY(0);
}
